#!/bin/bash

## Load path of all installed packages
source ~/.bash_profile

## install linux dependencies
echo "Setting up EC2 instance..." &&
  sudo yum update -y &&
  sudo yum install -y gcc-c++ make git wget unzip bzip2 urw-fonts &&

  ## install git
  sudo yum install git -y &&

  ## install nvm
  wget -qO- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.7/install.sh | bash &&

  ## Reload path of newly installed packages
  source ~/.bash_profile
