# Deployment Variables
CD_AWS_DEFAULT_REGION=
CD_AWS_ACCESS_KEY_ID=
CD_AWS_SECRET_ACCESS_KEY=
CD_APPLICATION_NAME=
CD_S3_BUCKET=

## ENV DEPLOYMENT GROUP
CD_DEPLOYMENT_GROUP=""

# NOTE: To clean up old pm2 processes. Usually only required when the EC2_FOLDER_NAME changes. (space separated names)
PM2_CLEANUP_NAMES=
NODE_ENV=
APP_NAME=
PORT=
BACKEND_ENDPOINT=

# AWS variables
# NOTE: Make sure this is a unique name, ex: appname_env, so that multiple apps can be deployed to same ec2
EC2_FOLDER_NAME=
AWS_CF_PUBLIC_KEY_ID=
AWS_CF_BASE_URL=
AWS_CF_PRIVATE_KEY=
AWS_S3_BUCKET_NAME=
AWS_S3_REGION=
AWS_CF_CACHE_LINK_INTERVAL_MINS=
AWS_S3_PATH=
AWS_CF_MAX_EXPIRY_MS=
AWS_PROFILE= # ="ep" only on local. Leave blank for server

# DB Variables
DATABASE_TYPE=
DATABASE_HOST=
DATABASE_NAME=
DATABASE_PASSWORD=
DATABASE_PORT=
DATABASE_USERNAME=

# Auth
JWT_ACCESS_TOKEN_EXPIRE_DURATION_IN_HOUR=
JWT_TOKEN_SECRET=
OLD_PASSWORD_COUNT_THRESHOLD=
PASSWORD_SALT_ROUND=
JWT_PASSWORD_TOKEN_EXPIRE_DURATION_IN_MINUTE=
JWT_REFRESH_TOKEN_EXPIRE_DURATION_IN_HOUR=
EMAIL_VERIFICATION_TOKEN_EXPIRE_DURATION_IN_HOUR=
RESEND_EMAIL_VERIFICATION_TOKEN_DELAY_IN_MINUTES=

# Portal Url
ADMIN_PORTAL_URL=
USER_PORTAL_URL=
# BACKEND_ENDPOINT=

# Email
MAILGUN_API_KEY=
MAILGUN_DOMAIN_NAME=
SYSTEM_EMAIL=

# Salesforce
# SF_CONSUMER_KEY=
# SF_CONSUMER_SECRET=
# SF_PRIVATE_RSA_KEY=
# SF_API_USERNAME=
# SF_JWT_AUDIENCE=
# SF_INSTANCE_URL=
# SF_JWT_EXPIRE_DURATION_IN_MINUTE=
# SF_BATCH_PROCESSING_LIMIT=
# SF_EDITOR_CONSUMER_KEY=
# SF_EDITOR_CONSUMER_SECRET=

# API SREVER KEYS
DEV_API_KEY_SECRET=